hr {
    max-width: 100%;
    border-width: 1px;
    border-color: #28a745;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#content {
    padding-left: 0;
    padding-right: 0;
}

#footer div {
    background-color: #28a745;
    height: auto;
}

#footer div h6 {
    padding: 15px 0;
    text-align: center;
    color: #fff;
    margin-bottom: 0;
}

.float-left {
    float: left;
}

.verde {
    color: #28a745;
}

@media (min-width: 992px) {
    #mainNav {
        background-color: #28a745;
    }
}

.breadcrumb {
    margin-bottom: 10px;
    margin-top: 55px;
}

/*PORTADA*/
/*ARTICULO PRINCIPAL*/
#articulo-primario {
    padding: 0;
}

.img-art-princ {
    width: 100%;
    height: auto;
    padding-left: 15%;
}

#descripcion-articulo-principal {
    width: 25%;
    position: absolute;
    top: 20%;
    left: 3%;
    background-color: #28a745;
    opacity: 0.95;
}

#descripcion-articulo-principal h2 {
    text-align: center;
    color: #ffffff;
    text-decoration: underline;
    margin: 15px;
}

#descripcion-articulo-principal p {
    text-align: justify;
    color: #ffffff;
    margin: 15px;
}

/*ARTICULO SECUNDARIO*/
.img-art-secundario {
    width: 100%;
    height: auto;
}

#texto-artic-secundario p, #texto-artic-terciario p {
    text-align: justify;
    margin: 10px 0;
}

#titulo-artic-secundario h2 {
    text-align: left;
    color: #28a745;
    padding-top: 10px;
}

#articulo-secundario {
    border: 1px solid #28a745;
    border-radius: 3px;
}

/*ARTICULO TERCIARIO*/
#titulo-artic-terciario {
    color: #28a745;
    text-align: left;
}

#seccion-derecha hr {
    border-width: 3px;
}

#seccion-derecha aside hr {
    border-width: 2px;
}

#seccion-derecha aside #lista-aside-articulos hr {
    border-width: 1px;
}

#boton-mas-aside-articulos {
    text-align: right;
}

/*ASIDE ARTICULOS*/
#titulo-aside-articulos {
    color: #28a745;
}

/*AVENTURAS*/
#aventuras-portada {
    margin: 0 10px;
}

#aventuras {
    padding-left: 0;
}

.panel-aventuras-derecha {
    height: 300px;
    margin-top: 10px;
    padding: 0 10px 0 0;
}

#aventuras-titulo {
    background-color: #28a745;
    margin-bottom: 15px;
}

#aventuras-titulo h2 {
    color: #ffffff;
    font-size: 45px;
    padding: 15px 20px 15px 14px;
    float: left;
}

#aventuras-titulo a {
    text-align: right;
    float: right;
    margin-right: 15px;
}

.articulos-aventuras, #aventuras-aside {
    position: relative;
    border: 2px solid #28a745;
    display: inline-block;
    height: auto;
    margin-bottom: 15px;
}

#aventuras img.d-block {
    height: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;
}

#titulo-aventura h3 {
    color: #28a745;
    text-align: center;
    text-decoration: underline;
}

.aventuras-detalles span {
    font-size: 28px;
    text-align: center;
    width: 100%;
}

.aventuras-detalles #texto-aventura p {
    text-align: justify;
    margin-bottom: 10px;
}

.precio-aventuras {
    text-align: center;
    bottom: 0;
    left: -7px;
    position: absolute;
    width: 100%;
}

.dias-aventuras h3, .dias-aventuras h4 {
    text-align: right;
    color: #28a745;
}

.img-new {
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 10px;
    width: 100px;
    height: 100px;
}

/*ASIDE*/
#aventuras-aside .text-center, #aventuras-aside h2, #aventuras-aside p, #aventuras-aside button {
    text-align: center;
}

.boton-descarga-app {
    text-align: center;
    margin-bottom: 10px;
}

#aventuras-aside h2 {
    text-decoration: underline;
    color: #28a745;
}

#aventuras-aside a {
    font-size: 24px;
    text-decoration: underline;
}

.enlace-promo {
    text-align: center;
    margin: 10px 0;
}

/*HOSTALES*/
#hostales-portada {
    padding: 0 10px;
}

#hostales-titulo {
    background-color: #ffffff;
    margin-bottom: 15px;
    border-bottom: 3px solid #28a745;
    border-top: 3px solid #28a745;
}

#hostales-titulo h2 {
    color: #28a745;
    font-size: 45px;
    padding: 15px 20px 15px 14px;
    float: left;
    margin-bottom: 0;
}

#hostales-titulo a {
    text-align: right;
    float: right;
    margin-right: 15px;
}

.card {
    margin-right: 15px;
    padding: 0;
}

.card:last-child {
    margin-right: 0;
}

.card-title {
    padding: 10px;
    margin: 0;
    color: #28a745;
}

.card-text {
    /*background-color: #FEEA3B;*/
    background-color: #CCDB39;
    /*background-color: #FEC007;*/
    /*background-color: #FDF211;*/
    color: #ffffff;
    padding: 10px;
    margin: 0;
}

/*HOSTALES*/
/*FILTROS*/
#filtro-hostales select {
    margin-bottom: 10px;
}

/*HOSTALES*/
/*ASIDE*/
.aside-hostales img {
    padding: 0;
}

.titulo-hostales-aside {
    padding-top: 10px;
    padding-left: 10px;
}

.cuerpo-hostales-aside {
    padding: 0 10px 10px 10px;
    display: inline-block;
}

.cuerpo-hostales-aside h6 {
    color: #28a745;
}

.cuerpo-hostales-aside hr {
    margin-top: 0;
}

.aside-hostales {
    display: inline-block;
    background-color: #F7F7F8;
    border-bottom: 1px solid #28a745;
    border-top: 1px solid #28a745;
}

.servicios-hostales-aside {
    margin-bottom: 10px;
    text-align: center;
}

.servicios-hostales-aside img {
    width: 50px;
    height: 50px;
}

/*HOSTALES*/
/*HOSTAL*/
.imagen-hostal, .imagen-aventura {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 0;
}

.imagen-hostal img.imagen-habitacion-principal, .imagen-aventura img.imagen-aventura-principal {
    width: 100%;
    height: auto;
    padding-left: 0;
}

#nombre-hostal {
    color: #28a745;
    margin-bottom: 0;
}

.habitaciones-capacidad-hostal {
    background-color: rgba(40, 167, 69, .7);
    position: absolute;
    width: 100%;
    bottom: 0;
}

.habitaciones-capacidad-hostal h3 {
    z-index: 2;
    color: #ffffff;
    padding: 30px 10px 10px 10px;
}

.habitaciones-capacidad-hostal h3:first-child {
    float: left;
    font-size: 40px;
    font-family: Arial, sans-serif;
}

.habitaciones-capacidad-hostal h3:last-child {
    float: right;
    font-size: 40px;
    font-family: Arial, sans-serif;
}

.iconos-servicios-hostales {
    margin-bottom: 20px;
    text-align: center;
    position: absolute;
    bottom: 50px;
    width: 100%;
}

.iconos-servicios-hostales img {
    width: 75px;
    height: 75px;
    margin: 0 15px;

}

.descripcion-hostal {
    width: 100%;
}

.descripcion-hostal p {
    text-align: justify;
    margin: 10px 0;
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #28a745;
}

.logo-habitacion {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.habitaciones-precio-hostal {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: -webkit-linear-gradient(left, #28a745, #F34236);
    background: -moz-linear-gradient(left, #28a745, #F34236);
}

.articulo-habitacion-hostal .iconos-servicios-hostales {
    bottom: 35px;
}

.habitaciones-precio-hostal h3 {
    z-index: 2;
    color: #ffffff;
    padding: 30px 10px 10px 10px;
}

.habitaciones-precio-hostal h3:first-child {
    float: left;
}

.habitaciones-precio-hostal h3:last-child {
    float: right;
}

.articulo-habitacion-hostal {
    margin-bottom: 10px;
}

#form-reserva-header {
    width: 100%;
    background-color: #28a745;
}

#form-reserva-header h2 {
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
}

#form-reserva-habitacion {
    background-color: #CCDB39;
    padding: 20px;
    text-align: center;
}

/*AVENTURAS*/
/*TAB*/
#tabExcursiones {
    border-bottom: 0;
}

#tabExcursiones li {
    margin-right: 2px;
}

#tabExcursiones li a {
    color: #ffffff;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #28a745;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#tabExcursiones li a.active {
    background-color: #CCDB39;
    padding: 10px 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 18px;
}

.tab-content {
    margin-top: 6px;
}

/*ASIDE*/
.titulo-aventuras-aside h3 {
    padding-left: 5px;
    padding-right: 5px;
}

.cuerpo-aventuras-aside hr {
    margin-top: 0;
    margin-bottom: 5px;
}

.descr-aventuras-aside {
    padding: 0;
}

.descr-aventuras-aside p {
    text-align: justify;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.dias-aventuras h4 {
    margin-bottom: 40px;
    text-align: left;
}

.precio-aventuras-aside {
    text-align: center;
    bottom: 0;
    left: -7px;
    position: absolute;
    width: 100%;
    padding: 0 0 0 15px;
}

.precio-aventuras-aside span {
    text-align: center;
    width: 100%;
    font-size: 16px;
}

.aside-aventuras {
    display: none;
    background-color: #F7F7F8;
    border-bottom: 1px solid #28a745;
    border-top: 1px solid #28a745;
    padding-bottom: 10px;
}

#galeria-aventuras img.img-fluid {
    width: 100%;
    height: 200px;
    background-size: 100% 100%;
}

.cuerpo-aventuras-aside {
    display: -webkit-box;
    display: -moz-inline-box;
}

.aside-aventuras img {
    padding: 0 0 0 5px;
}

.descr-aventuras-aside {
    padding: 0 10px;
}

.titulo-aventuras-aside {
    padding-top: 10px;
}

#nombre-aventura {
    color: #28a745;
    margin-bottom: 0;
}

.dias-precio-lugar-aventura {
    background-color: rgba(40, 167, 69, .8);
    position: absolute;
    width: 100%;
    bottom: 0;
}

.dias-precio-lugar-aventura h3, .dias-precio-lugar-aventura h5 {
    z-index: 2;
    color: #ffffff;
    padding: 10px;
    margin: 0;
}

.dias-precio-lugar-aventura h5 {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.dias-precio-lugar-aventura h3:first-child {
    float: left;
    font-size: 40px;
    font-family: Arial, sans-serif;
}

.dias-precio-lugar-aventura h3:nth-child(2) {
    float: right;
    color: #CCDB39;
    font-size: 40px;
    font-family: Arial, sans-serif;
}

.dias-precio-lugar-aventura hr {
    margin: 0 10px 10px 10px;
    border-color: #ffffff;
    z-index: 1;
}

.descripcion-aventura {
    width: 100%;
}

.descripcion-aventura p {
    text-align: justify;
    margin: 10px 0;
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #28a745;
}

.imagen-icon-hostal {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#programa, #reserva, #incluimos {
    padding: 10px 40px;
}

#programa hr, .servicios-aventuras hr {
    margin: 0;
}

#programa h4, #incluimos h4 {
    margin: 10px 0 0 0;
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #28a745;
}

#programa h4 span {
    color: #212529;
}

.lugar-hospedaje img, .lugar-hospedaje h3 {
    float: left;
}

#programa ul, #incluimos ul {
    margin: 10px 0;
}

#programa ul li {
    list-style: decimal;
    font: bold 15px Arial, sans-serif;
    text-align: justify;
    margin-bottom: 5px;
}

.servicios-aventuras ul li {
    list-style: decimal;
    margin-bottom: 5px;
    text-align: justify;
}

#programa ul li span {
    font: normal 15px Arial, sans-serif;
}

/*ARTICULOS*/
/*ASIDE*/
#articulos-mas-leidos h2, #articulos-todos h2 {
    font: bold 30px "Times New Roman";
    color: #3E4095;
}

.aside-articulos {
    display: flow-root;
    background-color: #F7F7F8;
    border-bottom: 1px solid #3E4095;
    width: 100%;
}

.aside-articulos:first-child {
    border-top: 1px solid #3E4095;
}

.cuerpo-articulos-aside img {
    padding: 10px 0;
    width: 75px;
    height: 75px;
}

.cuerpo-articulos-aside h3 {
    font: normal 14pt "Arial";
    padding-top: 10px;
}

/*ARTICULOS*/
/*ARTICULOS*/
#articulo hr {
    margin: 0;
    border-color: #000000;
}

#nombre-articulo {
    font: normal 30pt "Times New Roman";
    color: #000000;
    margin: 0;
}

#articulo-articulo p {
    color: #000000;
    font: normal 12pt "Arial";
    text-align: justify;
    margin: 10px 0;
}

#articulo-articulo img {
    width: 100%;
    height: auto;
    padding-left: 0;
}

#autor-articulo {
    font: normal 16pt "Arial";
    margin-top: 10px;
}

.imagenes-articulo {
    padding: 0;
}

#todos-articulos {
    width: 100%;
    height: 600px;
    display: inline-block;
    overflow: scroll;
}

.articulos-div article.activo, #todos-articulos .activo, #articulos-hostales-div article.activo, #articulos-excursiones article.activo {
    background-color: #ffffff;
}

/*FORMULARIOS*/
#form-reserva-habitacion span, #form-reserva-aventura span.req-fiel {
    color: #d9534f;
}

/*CAMBIOS BOOSTRAP*/
section #mainContent {
    padding: 0 !important;
}

.ayuda-form {
    margin-bottom: 10px;
    text-decoration: underline;
}

section {
    padding: 0 0 10px 0;
}

#noticias-portada {
    margin-left: 15px;
    margin-right: 15px;
}

h2, h3, h4 {
    font-family: "Times New Roman", sans-serif;
}

.btn-warning, .badge-warning {
    color: #ffffff;
    background-color: #8AC249;
}

.btn-warning:hover {
    color: #ffffff;
    background-color: #CCDB39;
    cursor: hand;
}

a:hover {
    text-decoration: none;
    cursor: hand;
}

.form-inline .form-group {
    margin-bottom: 10px;
}

.form-inline .form-group div {
    width: 100%;
    text-align: left;
}

.form-inline .form-group div input, .form-inline .form-group div select {
    width: 100%;
}

.form-inline .form-group div#enviar-form-habitacion {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 20px;
}

#galeria-hostales, #galeria-aventuras {
    padding: 0 15px;
}

#galeria-articulos {
    padding: 10px 15px 0 15px;
}

.nav-tabs .dropdown-toggle {
    background-color: #28a745;
    color: #ffffff;
    font-size: 20px;
    margin-right: 2px;
}

.nav-tabs .menu-item.show .dropdown-toggle, .nav-tabs .dropdown-toggle.active {
    background-color: #CCDB39;
    color: #ffffff;
    border-bottom-color: #CCDB39;
}

.tab-content > .active {
    background-color: #CCDB39;
}

.btn:hover {
    cursor: hand;
}

.custom-control-input:checked ~ .custom-control-indicator {
    color: #fff;
    background-color: #28a745;
}

.modal-body p {
    text-align: justify;
}

.dropdown-menu {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #BCBCBC;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #28a745;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #28a745;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #999999;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: not-allowed;
}

.form-control {
    width: 100% !important;
}

.social-media-menu ul li a h4 {
    color: rgba(255, 255, 255, .7);
}

.social-media-menu ul li a h4:hover {
    color: #ffffff;
}

.social-media-menu ul li {
    padding: 5px 5px 0 5px;
}

.container {
    /*margin-right: 0;*/
}

.navbar-brand img {
    position: absolute;
    width: 200px;
    left: 50px;
    top: 2px;
}

.breadcrumb-item.active {
    color: #28a745;
}

/*Estilos para moviles*/
/*movile style*/
/*MEDIA XS*/
/*Dise単o web responsable MOVIL*/
@media (max-width: 992px) {
    #aventuras-portada, #noticias-portada, .card, #descripcion-articulo-principal h2, #descripcion-articulo-principal h2, #descripcion-articulo-principal p{
        margin: 0!important;
    }
    .navbar-brand img {
        left: 30px;
        top: 2px;
    }

    #mainNav .navbar-nav > li.menu-item > a, #mainNav .navbar-nav > li.menu-item > a:focus {
        color: rgba(255, 255, 255, .7);
        font-size: 15px;
    }

    #mainNav .navbar-nav > li.menu-item, #mainNav .navbar-nav > li.menu-item {
        margin-top: 15px;
        text-align: center;
    }
    .social-media-menu ul{
        flex-direction: row;
    }
    .social-media-menu ul li a h4{
        font-size: 35px;
    }
    .social-media-menu ul li {
        padding: 15px 20px 0 20px;
    }
    #descripcion-articulo-principal {
        position: relative;
         width: 100%;
         top: 0;
         left: 0;
    }
    .img-art-princ {
        padding-left: 0;
    }
    #articulo-primario {
        border-radius: 3px;
    }
    #descripcion-articulo-principal h2{
        margin-top: 0;
    }
    .hidden-phone{
      display: none;
    }
}

/*MEDIA SM*/
/*Dise単o web responsable Table*/
@media (min-width: 768px) and (max-width: 992px) {

}

/*MEDIA MD*/
/*Dise単o web responsable DeskTop*/
@media (min-width: 993px)and (max-width: 1200px) {

}

/*MEDIA LG*/
/*Dise単o web responsable Large DeskTop*/
@media (min-width: 1201px) {

}

